.bttop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #152fa3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.bttop:hover {
  background-color: rgb(41, 41, 41); /* Add a dark-grey background on hover */
}

footer {
  background: #1b1b1b;
  padding: 30px 0;
  color: white;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  bottom: 0;
}

.logo {
  width: 250px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: white;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #152fa3;
}

.right-col h1 {
  font-size: 26px;
}

.bordern {
  width: 100px;
  height: 4px;
  background: #152fa3;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn-newsletter {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #152fa3;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.btn-newsletter:hover {
  background-color: #152fa3;
  opacity: 1;
  color: black;
}

.page-content {
  min-height: 50vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn-newsletter {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
