::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 49, 49);
}

@media (prefers-color-scheme: no-preference) {
  .here:visited {
    text-decoration: none;
    color: #b0b0b0;
  }
  .here:hover {
    text-decoration: none;
    color: #b0b0b0;
  }
  .here:focus {
    text-decoration: none;
    color: #b0b0b0;
  }
}

@media (prefers-color-scheme: dark) {
  .here:visited {
    text-decoration: none;
    color: #b0b0b0;
  }
  .here:hover {
    text-decoration: none;
    color: #b0b0b0;
  }
  .here:focus {
    text-decoration: none;
    color: #b0b0b0;
  }
}

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: #252525 !important;
    color: whitesmoke;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(54, 54, 54) !important;
    color: whitesmoke;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: #e6e4e4;
    color: black;
  }
}

.content {
  margin-top: 2%;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.content p {
  font-size: 30px;
  font-weight: 500;
}

.petlogo {
  width: 250px;
}

.contact p {
  font-size: 15px;
}
